<div class="card">
  <div class="card-inner">
    <div class="image-div">
      <div class="icon-container">
        <div class="icon1">
        </div>
        <div class="icon2">
        </div>
        <div class="save-btn">
          <span>Save</span>
        </div>
      </div>
      <div class="url">
        <p>Learn more at: www.socialchamp.io</p>
      </div>
    </div>
    <div class="card-body">
      <span class="card-title">Social Champ</span> <br>
      <p class="card-text">Take your LinkedIn presence to the next level with Social Champ! You can easily upload PDF,
        PPT, and DOCX files to your LinkedIn.</p>
    </div>
    <div class="user-info">
      <div class="user-image"></div>
      <div class="user-details">
        <h2 class="user-name">RafaelGreed</h2>
        <p class="user-description">Pinterest board name</p>
      </div>
    </div>
  </div>
</div>
